/* body{
  background-color: whitesmoke;
}

.App {
  display: grid;
  grid-template-columns: 30% 20% 30%;
  padding: 10px;
  padding-top: 100px;
  justify-content: space-evenly;
  grid-template-columns: 33.33% 33.33% 33.33%;
 }

 .square {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 20px;
  font-size: 30px;
  border-radius: 5px;
  width: 60%;
  margin: 5%;
  padding: 2%;
  text-align: center;  
  
} */

.App {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 10rem;
  row-gap: 45px;
}
.App > .square {
  background-color: black;
  padding: 1.5rem;
  border-radius: 1rem;
}
body {
  margin: 2rem;
  font: 12px system-ui;
}